<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <p> Training Labs from <a href="http://training.econocom.com">Econocom</a> + <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> for <a href="http://indracompany.com/">Indra Systems</a>.</p>
    </section>
</section>
